<div class="container m-5 p-5 mx-auto">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <mat-card class="login-card">
                <mat-card-header>
                    <mat-card-title>Login</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <form #loginForm="ngForm" (ngSubmit)="onClickLogin(loginForm)">
                        <table cellspacing="0">
                            <tr>
                                <td>
                                    <mat-form-field>
                                        <input type="email" name="email" ngModel matInput
                                            placeholder="Email" value="" required>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-form-field>
                                        <input type="password" name="password" ngModel matInput
                                            placeholder="Password" value="" required>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>
                        <button type="submit" class="ml-2 mt-1" mat-raised-button color="accent">Login</button>
                    </form>
                </mat-card-content>
                <mat-card-actions>
                    <div class="div mt-1 ml-2">
                        <span>If you don't have an account? <a [routerLink]="['/register']">Register</a>
                            Here</span>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>