/* You can add global styles to this file, and also import other style files */

:root{
    --global-font-family-head: 'Overlock', cursive;
    --global-font-family-main: 'Nunito', sans-serif;
    --global-font-color-dark: purple;
}

html,
body {
    height: 100%;
}

body {
    margin          : 0;
    font-family     : Roboto, "Helvetica Neue", sans-serif;
    background-color: blanchedalmond;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
